@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Message</h2>

<p>
    H Sales Manager Hellas ιδρύθηκε το 2004 και έχει πέντε εγκαταστάσεις στην<br>
    ελληνική αγορά. Παρέχει στους πελάτες της επιχειρηματικές εφαρμογές και<br>
    έχει σαν στόχο να αυξήσει την κερδοφορία τους μέσω της βελτίωσης στην<br>
    απόδοσή τους. Η λύση e-crm που προωθεί είναι το Sales Manager 5.0 που έχει<br>
    σκοπό να υποστηρίξει τις διαδικασίες πωλήσεων, τεχνικής εξυπηρέτησης και<br>
    μάρκετινγκ μιας επιχείρησης. Αν μια επιχείρηση το επιλέξει μπορεί να της<br>
    προσφέρει: <br>
    -	Πληροφορίες σχετικά με τους πελάτες.<br>
    -	Διαχείριση εταιρικών πελατών και επαφών.<br>
    -	Διαχείριση εγγράφων.<br>
    -	Παρακολούθηση ευκαιριών, πωλήσεων και προσφορών.<br>
    -	Παρακολούθηση παραγγελιών και προϊόντων.<br>
    -	Παρακολούθηση συμβολαίων.<br>
    -	Διαχείριση ροής εργασιών.<br>
    -	Πληροφορίες σχετικά με τις ενέργειες τεχνικής υποστήριξης.<br>
</p>
