@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Message</h2>

<address>
    Σαπφούς 11<br />
    Καλλιθέα Αττικής, 15126<br />
    <abbr title="Phone">Τηλέφωνο:</abbr>
    +3108034568
</address>

<address>
    <strong>Υποστήριξη:</strong>   <a href="mailto:info@salesmanager.com">info@salesmanager.com</a><br/>
</address>